.mymd pre {
    font-size: 1em;
    line-height: 1.2em;
    overflow: auto;
}

.mymd code{
    white-space: nowrap;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    border-radius: 3px;
    display: inline;
    margin: 1em .15em;
    padding: 0 .3em;
}

.mymd pre, .mymd code {
    font-size: 1em;
    font-family: Consolas, Inconsolata, Courier, monospace;
}

.mymd pre code, .mymd div.highlight {
    border-radius: 3px;
    border: 1px solid #CCC;
    background-color: #F8F8F8;
    padding: .5em .7em;
    display: block !important;
}

.mymd p, .mymd blockquote, .mymd dl, .mymd table, .mymd pre {
    margin: .6em 0 .3em 0;
}

.mymd p, .mymd blockquote {
    line-height: 1.5em;
}

.mymd ul, .mymd ol {
    list-style-type: disc;
    margin: .1em 0 0 1.5em;
}

.mymd li {
    margin: .2em 0;
}

.mymd dl {
    padding: 0;
}

.mymd dl dt {
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    margin: 1em 0 .4em;
    padding: 0;
}

.mymd dl .mymd dd {
    margin: 0 0 1em;
    padding: 0 1em;
}

.mymd blockquote {
    border-left: 4px solid #DDD;
    color: #777;
    padding: 0 1em;
}

.mymd blockquote, .mymd q {
    quotes: none;
}

.mymd blockquote::before, .mymd blockquote::after, .mymd q::before, .mymd q::after {
    content: none;
}

.mymd a: link, .mymd a: visited {
    color: #33e;
    text-decoration: none;
}

.mymd a: hover {
    color: #00f;
    text-shadow: 1px 1px 2px #ccf;
    text-decoration: underline;
}

.mymd h1, .mymd h2, .mymd h3, .mymd h4, .mymd h5, .mymd h6 {
    font-weight: 700;
    color: #000;
    cursor: text;
    position: relative;
    margin: 1.3em 0 1em;
}

.mymd h1 {
    font-size: 2em;
}

.mymd h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #CCC;
}

.mymd h3 {
    font-size: 1.3em;
}

.mymd h4 {
    font-size: 1.1em;
}

.mymd h5 {
    font-size: 1em;
}

.mymd h6 {
    font-size: 1em;
    color: #777;
}

.mymd .shadow {
    box-shadow: 0 5px 15px #000;
}

.mymd table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    font: inherit;
    border: 0;
    padding: 0;
}

.mymd tbody {
    border: 0;
    margin: 0;
    padding: 0;
}

.mymd table thead {
    border: 0;
    border-bottom: 1px solid #CCC;
}

.mymd table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

.mymd table tr: nth-child(2n) {
    background-color: #F8F8F8;
}

.mymd table tr th, .mymd table tr td {
    border: 1px solid #CCC;
    text-align: left;
    margin: 0;
    padding: .5em 1em;
}

.mymd table tr th {
    font-weight: 700;
}

.mymd s, .mymd del {
    text-decoration: line-through;
    color: #ccc;
}

.mymd hr {
    background: transparent url(https://gist.github.com/assets/primer/markdown/dirty-shade-b257e362bd496ca183d2a6743c25bc72.png) repeat-x 0 0;
    border: 0 none;
    color: #ccc;
    height: 4px;
    padding: 0;
    margin: 1em 0 0.8em 0;
}
